SECRET_KEY=troque-esta-chave-por-uma-aleatoria
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
USAR_HTTPS=False

ARMAZENAMENTO=local

S3_BUCKET=
S3_CHAVE_ACESSO=
S3_CHAVE_SECRETA=
S3_REGIAO=
S3_ENDPOINT=
S3_DOMINIO_PUBLICO=
S3_URL_ASSINADA=True
S3_URL_VALIDADE_SEGUNDOS=3600
